
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
     
.login-section{
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-image: linear-gradient(to right, rgba(7, 216,  160, .6), rgba(27, 36, 50, .5)), url(../images/bg/bd-register.jpg);
background-blend-mode:darken;
background-size: cover;
background-position: center;
object-fit: fill;
transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
z-index: 500;
animation: login-slider .7s ease-in-out 0s none ;
}


.login-sub-section 
{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 40%;
  min-width: 40rem;
  max-width: 60rem;
  border-radius: 10px;
  background: rgba(0,0,0,0.4);
  background-size: cover;
  background-position: center;
  object-fit: fill;
  padding: 1rem;
  box-shadow: 0 2rem 6rem rgba(50, 50, 50, .8);
}
.login-sub-section .field{
  display: flex;
  height: 4.5rem;
  margin-bottom: 2rem;
  position: relative;
  border-radius: 6px;
  padding: 0 2rem;
  background: rgba(222,2222,222,0.3);
}
.login-sub-section .field:hover{
background: rgba(222,2222,222,0.5);

}
.login-sub-section .field span{
  color: #222;
  width: 4rem;
  line-height: 4.5rem;
}
.login-sub-section .field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: 'Poppins',sans-serif;
}
.login-sub-section .field input::placeholder{
  color: rgba(255, 255, 255, .4);
}
.forget{

  text-align: left;
  margin: 1rem 0;
}
.forget a{
  font-size: 1.5rem;
  color: rgb(255, 250, 205);
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  cursor: pointer;
}
.forget:hover a{
  color: rgba(255, 250, 205, .7);
  text-decoration: underline;
}
.submit{
  margin: 1rem 0;
  text-align: center;
}
.submit input[type="submit"]{
  background: rgba(40, 180, 133,1);
  border: none;
  color: var(--color9);
  font-family: "Russo One", sans-serif;
  font-size: 1.8rem;
  width: 100%;
  border-radius: 10rem;
  padding: 5px 0;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
  transition: all .3s;
}
.submit input[type="submit"]:hover{
  background-color: rgba(7, 216,  160, 1);
  color: rgba(255, 255, 255, .9);

}
.other-login{
  margin: 1rem 0;
  text-align: center;
  color: rgb(200,200,255); 
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Poppins',sans-serif;
}
.other-login span{
  font-size: 1.4rem;

}
.links{
  width: 65%;
  display: flex;
  cursor: pointer;
  color: white;
  margin: 1rem auto;
}
.facebook,.google{
  font-size: 1.5rem;
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  margin-left: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.facebook{
  margin-left: 0;
  background: rgba(52, 67, 238, .9);
  color: white
}
.google{
  background:red;
  color:white
}
.facebook:hover{
  background-color: rgba(255,255,255,.6);
  color: rgb(52, 107, 212);
}
.google:hover{
  color: #df2060;
  background-color: rgba(255,255,255,.6);}
.links i{
  font-size: 1.6rem;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-family: 'Poppins',sans-serif;
}
.signup{
  text-align: center;
  padding-top: 1rem;
  font-size: 1.8rem;
  color: goldenrod;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  font-size: 2rem;
  color: var(--color9);
  text-decoration: none;
  transition: all .2s;
}
.signup a:hover{
  color: rgba(7, 216,  160, 1)
}
.login-sub-section a.exit-login{
text-align: right;
font-size: 2rem;
padding: 5px;
background-color:transparent;
cursor: pointer;
color: gainsboro;}

.login-sub-section a.exit-login:hover{
  color: tomato;}

  
@media only screen and (max-width:37.5rem) {
  .login-section .login-sub-section{
    width: 70%;
    height: 70%;
  }
  
}