@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-image: linear-gradient(to left bottom, rgba(44, 184, 144, .6), rgba(6, 214, 160, .65));
  color: var(--colora2);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.signup-section .content h2 {
  font-size: 3rem;
  font-family: "Russo One", sans-serif;
  position: relative;
}

.signup-section .content h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 20%;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--color1), var(--color4));
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 0 2rem 0;
}

form .user-details .input-box {
  margin-bottom: 1.5rem;
  width: calc(100% / 2 - 2rem);
}

form .input-box span.details {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 4.5rem;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  border-radius: 5px;
  padding-left: 1.5rem;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.user-details .input-box input:focus,
.user-details .input-box input:active {
  border: 2px solid #111;
}

form .gender-details {
  width: 100%;
}

form .gender-details .gender-title {
  font-size: 2rem;
  font-weight: 500;
}

form .gender-category {
  display: flex;
  width: max-content;
  margin: 1.5rem 0;
  justify-content: space-between;
}

form .gender-category label {
  margin-left: 1rem;
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  cursor: pointer;
}

form .gender-category label .dot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.gender-category label .one,
#dot-2:checked~.gender-category label .two,
#dot-3:checked~.gender-category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  text-align: center;
  height: 4.5rem;
  margin: 3rem 0
}

form .button input {
  height: 100%;
  padding: 1rem 5rem;
  border: none;
  outline: none;
  color: var(--color9);
  font-size: 2rem;
  font-family: "Russo One", sans-serif;
  letter-spacing: 1px;
  border-radius: 10rem;
  cursor: pointer;
  background-color: rgb(40, 180, 133);
  transition: all 0.3s ease;

}

form .button input:hover,
form .button input:focus,
form .button input:active {
  transform: scaleX(1.1);
  background-color: rgba(50, 200, 153, 1);
}

.signup-section a.exit-login {
  position: absolute;
  top: 1px;
  left: 3rem;
  text-align: right;
  font-size: 3rem;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.signup-section a.exit-login:hover {
  color: rgb(80, 80, 80);
  transform: scaleX(1.2);

}



@media(max-width: 37.5em) {
  .signup-section {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 1.5rem;
    width: 48%;
    min-width: 18rem
  }

  form .gender-category {
    width: max-content
  }

  .content form .user-details {
    max-height: min-content
  }
}

@media screen and (max-width: 25em) {
  .signup-section .content .gender-category {
    flex-direction: column;
  }

  form .gender-category label {
    margin-bottom: 1rem;
  }

  form .user-details .input-box {
    margin-bottom: 1.5rem;
    width: 80%;
    margin: 1rem auto;
    min-width: 18rem
  }

}